/* дз DOM BOM */
/* body {
    font-family: Arial;
    padding: 20px;
}

.dark {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#box {
    width: 200px;
    padding: 20px;
    background: lightgray;
    margin-bottom: 10px;
} */