/* дз DOM BOM */
/* body {
    font-family: Arial;
    padding: 20px;
}

.dark {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#box {
    width: 200px;
    padding: 20px;
    background: lightgray;
    margin-bottom: 10px;
} */

body {
  font-family: Arial;
  padding: 20px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

img {
  width: 100%;
}

button {
  margin-top: 10px;
}
