h1 {
    color: pink;
    text-align: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    
}

h2 {
    text-align: center;
    background-color: blue;
    color: white;
    width: 350px;
    margin: 0 auto;
    border-radius: 2px;
}

h3 {
    text-align: center;
    font-size: 50px;
    width: 300px;
    font-family: initial;
    background-color: lightblue;
    border-style: none;
    border-radius: 20px;
    margin: 0 auto;
    color: magenta;

}

img {
    width: 500px;
    margin-left: 323px;
    
}

form { 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
      
}

body {
    background-color: cornflowerblue;
}