/* h1 {
    color: pink;
    text-align: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    
}

h2 {
    text-align: center;
    background-color: blue;
    color: white;
    width: 350px;
    margin: 0 auto;
    border-radius: 2px;
}

h3 {
    text-align: center;
    font-size: 50px;
    width: 300px;
    font-family: initial;
    background-color: lightblue;
    border-style: none;
    border-radius: 20px;
    margin: 0 auto;
    color: magenta;

}

img {
    width: 500px;
    margin-left: 323px;
    
}

form { 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
      
}

body {
    background-color: cornflowerblue;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.header {
    position: relative;
    height: 80px;
    background-color: pink;
}

.logo {
    position: absolute;
    left: 30px;
    top: 10px;
}

.logo img {
    position: absolute;
    height: 60px;
    

}

.icons {
    position: absolute;
    right: 100px;
    
}

.icons img {
    height: 50px;
    margin: 10px;
}

.links {
    position: absolute;
    left: 250px;
    top: 30px;
    background-color: transparent;
    
}

.header-btn {
    position: absolute;
    right: 30px;
    top: 22px;
    border-radius: 20px;
}

.links a {
    margin: 20px;
}

.header-btn button {
    background-color: pink;
    border-color: pink;
    border-radius: 20px;
}

.main {
    position: relative;
    height: 1000px;
    margin: 0;
}

.leftside {
    position: absolute;
    left: 30px;
    top: 40px;
    width: 40%;
}

.leftside img {
    width: 100%;
    height: 800px;
    object-fit: cover;

}

.rightside {
    position: absolute;
    right: 30px;
    top: 40px;
    width: 55%;
}

.headline {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.cards-top {
    position: relative;
    margin-top: 40px;
    height: 300px;
}

.card {
    position: absolute;
    width: 22%;
    height: 250px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.cards-top .card:nth-child(1) { position: absolute; top: 0; left: 0; }
.cards-top .card:nth-child(2) { position: absolute; top: 0; left: 220px; }
.cards-top .card:nth-child(3) { position: absolute; top: 0; left: 440px; }
.cards-top .card:nth-child(4) { position: absolute; top: 0; left: 660px; }

.cards-bot .card:nth-child(1) { position: absolute; top: 0; left: 0; }
.cards-bot .card:nth-child(2) { position: absolute; top: 0; left: 220px; }
.cards-bot .card:nth-child(3) { position: absolute; top: 0; left: 440px; }
.cards-bot .card:nth-child(4) { position: absolute; top: 0; left: 660px; }

.footer {
    position: relative;
    height: 100px;
    background-color: pink;
    left: 0;
    right: 0;
}

.footer-logo {
    position: absolute;
    top: 25px;
    left: 50%;
}

.policy {
    position: absolute;
    left: 50%;
    top: 10px;
    text-align: center;
    transform: translateX(-50%);
}

.footer-icons {
    position: absolute;
    right: 30px;
    top: 35px;
    
}

.footer-icons img {
    height: 30px;
}

.footer-logo img {
    position: absolute;
    right: 300px;
    height: 50px;
} */

