/* img{
    width: 300px;
    height: 300px;
}

h1{
    background-color: darkcyan;
    color: white;
    width: 400px;
}

p{
    background-color: darkgreen;
    color: white;
}

button{
    width: 100px;
    height: 30px;
    background-attachment: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-size: 18px;
    background-color: blue;
    color: white;
} */

h1 {
    background-color: black;
    color: aliceblue;
    width: 400px;
    margin: 0 auto;
}

p{
    width: 100px;
    font-size: larger;
    font-style: oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    margin: 0 auto;
    
}

img{
    width: 300px;
    height: 300px;
}
