body{
    height: 90vh;
    padding: 30px;
    background-color: #121212;
    color: white;
    display: flex;
    gap: 20px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ЭТО ЛЕВАЯ ЧАСТЬ */
.leftbar{
    flex: 15%;
    padding: 40px;
    background-color: #18191D;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.nav img{
    width: 45px;
}
.out img{
    width: 50px;
}
.logo{
font-size: 25px;
font-weight: bolder;
}
/* ЭТО ЛЕВАЯ ЧАСТЬ */


/* ЭТО ТО ЧТО ВЫ ДОЛЖНЫ РЕАЛИЗОВАТЬ */
.main{
    flex: 80%;
    background-color: #18191D;
    border-radius: 36px;
    padding: 30px;
    
}

.main-content {
    
    border-radius: 25px;
    padding: 25px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.main-header {
    display: flex;
    padding: 35px;
    justify-content: space-between;
}

.main-header input {
    padding: 10px;
    
}

.title {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.post-image img {
    width: 100%;
    border-radius: 20px;
    max-height: 400px;
    object-fit: cover;
}

.post-icons img {
    width: 50px;
}

.post-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.main-header img {
    width: 50px;
    padding: 5px;
}

.post-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-reactions-icons img {
    width: 25px;
    margin-right: 15px;
    
}

.created_at p {
    font-size: 14px;
    color: gray;
}


/* ЭТО ТО ЧТО ВЫ ДОЛЖНЫ РЕАЛИЗОВАТЬ */


/* ЭТО ПРАВАЯ ЧАСТЬ */
.rightbar{
    flex: 15%;
    background-color: #18191D;
    padding: 40px;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.user {
    display: flex;
    gap: 50px;
}
.avatar img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.avatar-info p{
    text-align: start;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    position: relative;
    bottom: 15px;
}
.friends{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px white solid;
    padding-top: 30px;
}
.friend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.friend-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.friend-info h1{
    font-size: 16px;
}
.friend-info p{
    font-size: 12px;
}
/* ЭТО ПРАВАЯ ЧАСТЬ */