body {
    padding: 20px;
    background-color: #110A3A;
    color: white;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.header {
    background-color: #322361;
    width: 1300px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9999px;
}

.left {
    display: flex;
    align-items: center;
    gap: 50px;

}

.logo {
    font-size: 36px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 22px;
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn1 button {
    padding: 6px 22px;
    font-size: 18px;
    border-radius: 22px;
    border: none;
    color: white;
    background-color: #4d31a4;
}






